/* ====== MAIN SECTIONS ====== */
html {
	background-color: rgb(233, 233, 233);
	text-align: center;
}

header {
background-image: url("../images/blank_ampersand.png");
background-repeat: no-repeat;
background-position: center;
}

.amp-header {
    background-image: url("../images/blank_ampersand.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: .2em;
    }

body {
font-family: sans-serif;
color: black;
}

footer {
	font-style: italic;
	font-family: serif;
	font-size: small;
	color: grey;
}

main {
	display: flex;
	flex-wrap: wrap;
	/* padding-left: 12em; */
	justify-content: center;
	width: 100%;
	/* margin-left: auto;
	margin-right: auto; */
	margin-top: auto;
	margin-bottom: auto;
}

index p {
	padding-right: 10em;
}

.introContainer {
	display: block;
    min-width: 40%;
    width: 70%;
	margin-left: auto;
	/* padding-right: 4.5em; */
	margin-right: auto;
}

.blogContainer {
	display: block;
    min-width: 40%;
    width: 70%;
	margin-left: auto;
	padding-right: 4.5em;
	/* margin-right: auto; */
}

/* ====== MAIN SELECTORS ====== */

h1 {
	font-family: 'trebuchet ms', sans-serif;
	font-variant: small-caps;
	color: rgb(78, 72, 72);
	font-size: 45px;
	text-align: center;
	letter-spacing: 15px;
	line-height: .8;
}

.purple {
	font-family: serif;
	color: #8B008B;
	font-size: 110px;
	letter-spacing: -8px;
}

/* QUESTION --> HOW DO I TRULY CENTER THE TEXT? 
It's not truly centered on the page... */

li {
	list-style: none;
	letter-spacing: 2px;
}

nav ul {
	padding-right: 2em;
}

footer p {
	padding-right: 0;
}

/* ======= CLASSES ======= */

.intro {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

/* .clearfix {
	clear: both;
	padding-top: 1em;
} */


.main-img {
	box-shadow: -.75px 10px 10px #888888;
	float: left;
	border-radius: 50%;
	width: 220px;
	height: 250px;
}


/* .wrapper {
	color: grey;
	text-align: none;
	display: block;
	margin-top: 100px;
	margin-right: 150px;
	padding-left: 30em;
	font-size: 14px;
} */

/* ======= ID's ======= */



#flex-intro {
	display: block;
	max-width: 60%;
	min-width: 40%
}

/*=========PSEUDO CLASSES==========*/

a:link {
    font-size: 1em;
	color: #8B008B;
	font-size: 14px;
	font-variant: small-caps;
	text-decoration: none;
}
nav a:hover {
    color: #8B008B;
	text-decoration: none;
	font-family: 'Lucida Console';
	font-size: 14px;
	line-height: 1.5;
	outline: 1px dashed rgba(0, 0, 0, 0.685);
	background-color: rgba(255, 253, 253, 0.288);
	padding: 1em;
}

a:visited {
	color: grey;
}


/* ==========MEDIA============ */

@media (min-width: 732px) {
	#snapOS{
		padding: auto;
	}
}

/* ===== FEATURES =====*/
.purpleAmps {
	color: #8B008B;
}

h1 a:hover {
	text-shadow: 0px 1px 1px rgb(78, 72, 72);
	padding-top: 5em;
	/* padding-right: 10px; */
}