/* ====== MAIN SECTIONS ====== */
html {
	background-color: lightgrey;
}

body {
font-family: sans-serif;
color: black;
text-align: center;
}


footer {
	font-style: italic;
	font-family: serif;
	font-size: small;
	color: grey;
}

/* ====== MAIN SELECTORS ====== */

h1 {
	font-family: serif;
	font-variant: small-caps;
	color: #8B008B;
	font-size: 62px;
	text-align: center;
}
/* QUESTION --> HOW DO I TRULY CENTER THE TEXT? 
It's not truly centered on the page... */

li {
	list-style: none;
	letter-spacing: 2px;
}

/* ======= CLASSES ======= */

.container {
	display: block;
	border: thin solid black;
}

.clearfix {
	clear: both;
	padding-top: 1em;
}

a:link {
    font-size: 1em;
	color: #8B008B;
	font-size: 14px;
	font-variant: small-caps;
	text-decoration: none;
}
a:hover {
    color: 8B008B;
	text-decoration: none;
	font-family: 'Lucida Console';
	font-size: 12px;
	line-height: 1.5;
	outline: 1px dashed black;
	background-color: white;
	padding: 1em;
}
.main-img {
	box-shadow: -.75px 10px 10px #888888;
	float: left;
	margin-left: 16%;
	border-radius: 300px;
}

.wrapper {
	color: grey;
	text-align: none;
	display: block;
	margin-top: 100px;
	margin-right: 150px;
	padding-left: 30em;
	font-size: 14px;
}

/* ======= ID's ======= */

#summary {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 150px 0px 20px;
	color: grey;
	letter-spacing: 1px;
}


.flex-container {
	display: flex;
	display: -webkit-flex;
	width: 100%;

}

.flex-item {
margin: 1em;
}