@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

$purple: #910D90;
$white-back: rgb(255, 253, 249);
$black: #092327;
$grey: #026C7C;
$blue: #00A9A5;
$Header: 'Shadows Into Light', cursive;


/* ====== MAIN SECTIONS ====== */
html {
    background-color: $white-back;
    text-align: center;
}

.name-intro {
    font-family: 'Shadows Into Light';
}

body {
	font-family: Verdana, sans-serif;
	color: $black;
}

footer {
	font-style: italic;
	font-family: sans-serif;
	font-size: small;
	color: $blue;
}

main {
	display: flex;
	flex-wrap: wrap;
	/* padding-left: 12em; */
	justify-content: center;
	width: 100%;
	/* margin-left: auto;
	margin-right: auto; */
	margin-top: auto;
	margin-bottom: auto;
}

index p {
	padding-right: 10em;
}


/* ====== MAIN SELECTORS ====== */

h1 {
	font-variant: small-caps;
	color: $grey;
	font-size: 20px;
	text-align: center;
	letter-spacing: 15px;
	line-height: .8;
}

h2 {
	color: $blue;
}


/* QUESTION --> HOW DO I TRULY CENTER THE TEXT? 
It's not truly centered on the page... */

li {
	list-style: none;
	letter-spacing: 2px;
}

nav ul {
	padding-right: 2em;
}

footer p {
	padding-right: 0;
}

/* ======= CLASSES ======= */

.introContainer {
	display: block;
	font-size: 12px;
    min-width: 40%;
    width: 50%;
	margin-left: auto;
	/* padding-right: 4.5em; */
	margin-right: auto;
}

.block-quote {
	// margin-left: 17%;
	// margin-right: 10%;
}

.blogContainer {
	display: block;
    min-width: 40%;
    width: 70%;
	margin-left: auto;
	padding-right: 4.5em;
	/* margin-right: auto; */
}

.amp-header {
    background-image: url("../images/blank_ampersand.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: .2em;
}
	
.intro {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.main-img {
	// box-shadow: -.75px 8px 10px #888888;
	// float: left;
	border-radius: 10%;
	width: 220px;
	height: 260px;
}

.purple {
	font-family: serif;
	font-weight: bold;
	color: $purple;
	font-size: 80px;
	letter-spacing: -8px;
}


.workFont {
	color: $purple;
	font-style: italic;
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
}

.space {
	line-height: 25px;
}

.headingPad {
	margin-top: 2em;
}

h4 {
	font-weight: 2;
	letter-spacing: 1px;
	font-variant: small-caps;
	line-height: 1px;
}

/*=========PSEUDO CLASSES==========*/

a:link, .links{
    font-size: 1em;
	color: $purple;
	font-size: 14px;
	font-variant: small-caps;
	text-decoration: none;
	cursor: pointer;
}

.disabled {
    font-size: 1em;
	color: $purple;
	font-size: 14px;
	font-variant: small-caps;
    text-decoration: none;
    text-decoration: underline;
}

nav a:hover {
    color: $purple;
	text-decoration: none;
	font-family: 'Lucida Console';
	font-size: 14px;
	line-height: 1.5;
	outline: 1px dashed rgba(0, 0, 0, 0.685);
	background-color: rgba(255, 253, 253, 0.288);
	padding: 1em;
}

a:visited {
	color: $grey;
}


/* ==========MEDIA============ */

@media (min-width: 732px) {
	#snapOS{
		padding: auto;
	}
}

/* ===== FEATURES =====*/
.purpleAmps {
	color: $purple;
}

h1 a:hover {
	text-shadow: 0px 1px 1px rgb(78, 72, 72);
	padding-top: 5em;
	/* padding-right: 10px; */
}